body{
    background-color: #f2f2f2 !important;
}

/**---------------------------------------header---------------------------------------*/

.bg-gradient-dark-transparent {
    background: #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.10) 50%, rgba(0, 0, 0, 0) 100%);
}

.header__logo{
    display: none;
}

.tp-static-layers {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-bg {
    -webkit-clip-path: ellipse(110% 90% at 50% 0%);
    clip-path: ellipse(110% 90% at 50% 0%);
}

a.navbar-brand {
    width: 9%;
}

header .navbar-brand img {
    max-height: 100%;
}

.slider-bg {
    -webkit-clip-path: ellipse(110% 90% at 50% 0%);
    clip-path: ellipse(110% 90% at 50% 0%);
}

header .navbar [class*=col-] {
    display: flex;
    align-items: center;
}

.header__menu--color{
    color: #000 !important;
}

.slider__bg--color{
    background-color: #f2f2f2;
}

/**---------------------------------------footer---------------------------------------*/

.footer-bg {
    -webkit-clip-path: ellipse(100% 100% at 50% 100%);
    clip-path: ellipse(100% 100% at 50% 100%);
}

footer .footer-logo img {
    max-height: 80%;
}

.footer-dark a:hover,
.footer-light a:hover,
.footer-navbar li a:hover {
    color: #e02a26;
}

.bluenight__color:hover {
    color: #e02a26 !important;
}

.zorbeyproduction__color:hover {
    color: #44934c !important;
}

/**---------------------------------------home---------------------------------------*/

.btn-link.text-base-color,
.text-base-color {
    color: #44934c;
}

.star__bg--color {
    background-color: #8e593e;
}

.point__bg-color{
    background-color: #000;
}

.text__customer--color {
    color: #fff;
}

.about__icon--bg-color{
    background-color: #f5f5dc;
}

.slider__logo--df {
    left: 5.5%;
}

img.slider__logo--wd {
    width: 80% !important;
}

.menu__pizza--df{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__pizza--description{
    display: flex;
}

.menu__pizza--title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__pizza--size{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    width: 100%;
}

.pizza__small{
    display: flex;
    flex-direction: column;
}

.menu__pizza--title-bd{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.customer-comments__title--fs{
    font-size: 2.7rem !important;
}

/**---------------------------------------about---------------------------------------*/

.bg-base-color {
    background-color: #44934c;
}

.about__text--number.appear {
    color: #8e593e;
}

.row > * {
    padding-right: 25px;
    padding-left: 15px;
}

/**---------------------------------------menu---------------------------------------*/

.menu__icon--df {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.pages__menu--title{
    display: grid !important;
    grid-template-columns: repeat(2, 2fr);
    margin-bottom: 30px;
}

.pages__menu--size {
    display: grid !important;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
}

.pizza__small {
    display: flex;
    flex-direction: column;
}
*/

/**---------------------------------------blog-detail-1---------------------------------------*/



/**---------------------------------------popup---------------------------------------*/

.popup__pd{
    padding-left: 15px;
    padding-right: 15px;
}

.popup__bg--color{
    background-color: #f2f2f2;
}

.popup__title{
    color: #232323 !important;
}

.popup__color{
    font-size: 1.8rem;
    color: #232323 !important;
}

.popup__color:hover{
    color: #dc3131 !important;
}

.popup__social--medya{
    padding: 0;
}

.popup__icons--df{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 1.2rem;
}

/**---------------------------------------responsive---------------------------------------*/

/*?---------------------------------------1455px---------------------------------------*/

@media (max-width: 1455px) {

    .responsive__contact--df {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .center-logo .navbar-brand {
        position: absolute;
        left: 51%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: none;
    }

    a.navbar-brand {
        width: 13%;
    }

}

/*?---------------------------------------1230px---------------------------------------*/

@media (max-width: 1230px) {

    .center-logo .navbar-brand {
        position: absolute;
        left: 51.5%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: none;
    }

}

/*?---------------------------------------1090px---------------------------------------*/

@media (max-width: 1090px) {

    a.navbar-brand {
        width: 11%;
    }

    header .navbar [class*=col-] {
        padding: 0 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

}

/*?---------------------------------------991px---------------------------------------*/

@media (max-width: 991px) {

    a.navbar-brand {
        width: 18%;
    }

    header .navbar-brand {
        padding: 0 0;
    }

    .mobile__slider--logo{
        display: none;
    }

}

/*?---------------------------------------768px---------------------------------------*/

@media (max-width: 768px) {

    a.navbar-brand {
        width: 24%;
    }

}

/*?---------------------------------------650px---------------------------------------*/

@media (max-width: 650px) {

    .footer-bg {
        -webkit-clip-path: ellipse(100% 100% at 50% 100%);
        clip-path: ellipse(100% 100% at 50% 85%);
    }


}

/*?---------------------------------------550px---------------------------------------*/

@media (max-width: 550px) {

    a.navbar-brand {
        width: 35%;
    }

    .qr-menu__logo--tp {
        top: 45px !important;
        padding: 0 !important;
        position: relative !important;
        left: 17.5% !important;
    }

    .qr-menu__list--pd {
        padding: 50px 0 !important;
    }

    .qr-menu__slider--pd {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .qr-menu__list--gr {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 50px;
    }

    .qr-menu__list--bg-color {
        background-color: #021933;
        width: 100%;
        height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
    }

    .qr-menu__list--text-color{
        color: #fff;
        margin-bottom: 0 !important;
    }

    .qr-menu--detail--gr{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .qr-menu__pizza--size{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }

    .pizza__small{
        display: flex;
        flex-direction: column;
    }

    .center-logo .navbar-toggler {
        margin: 31px;
    }

    .qr-menu__header--bg-color{
        background-color: #db122257;
    }
}

/*?---------------------------------------431px---------------------------------------*/

@media (max-width: 431px) {

    a.navbar-brand {
        width: 45%;
    }

    .qr-menu__logo--tp {
        top: 45px !important;
        padding: 0 !important;
        position: relative !important;
        left: 22.5% !important;
    }

}

/*?---------------------------------------375px---------------------------------------*/

@media (max-width: 375px) {

    .qr-menu__list--text-color {
        color: #fff;
        margin-bottom: 0 !important;
        font-size: 28px;
    }

}


